.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(5);
  flex: 0 1 rem(160);

  &__item {
    position: relative;
  }

  &__image {
    width: rem(22);
    height: rem(22);
  }

  @media (max-width: rem($desktop-x)) {
    flex: 0 1 rem(120);
  }

  @media (max-width: rem($mobile)) {
    &__image {
      width: rem(24);
      height: rem(24);
    }
  }
}