.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(5);
  flex: 0 1 rem(160);

  &__item {
    position: relative;
  }

  @media (max-width: rem($desktop-x)) {
    flex: 0 1 rem(120);
  }
}