.footer {
  margin-top: rem(128);
  display: flex;
  flex-direction: column;

  &__line {
    border-top: rem(1) solid $gray;
    border-bottom: rem(1) solid $gray;
    margin-top: rem(12);
  }

  &__content {
    display: grid;
    grid-template-columns: minmax(rem(260), rem(440)) 1fr;
    grid-template-areas:
      "contacts nav"
      "socials bottom";
    gap: rem(24);
    padding: rem(40) rem(20) rem(24);
  }

  @media (max-width: rem($desktop-x)) {
    &__content {
      grid-template-columns: minmax(rem(200), rem(350)) 1fr;
      gap: rem(20);
    }
  }

  @media (max-width: rem($tablet)) {
    &__content {
      grid-template-columns: 1fr;
      grid-template-areas:
        "nav"
        "contacts"
        "socials"
        "bottom";
    }
  }

  @media (max-width: rem($mobile)) {
    margin-top: rem(56);
  }
}