.container {
  max-width: rem($desktop + 20);
  width: 100%;
  margin: 0 auto;
  padding: 0 rem(10);

  @media (max-width: rem($desktop-x)) {
    max-width: rem($desktop-x + 20);
  }

  @media (max-width: rem($tablet)) {
    max-width: rem($mobile + 20);
  }

  @media (max-width: rem($mobile)) {
    max-width: rem($mobile + 20);
  }

  @media (max-width: rem($mobile-x)) {
    max-width: $mobile-x;
  }
}