$container: 1360;

.slider {
  width: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: rem(210) minmax(0, 1fr);
  gap: rem(20);

  padding-left: max(
          rem(10),
          calc((100vw - rem($container)) / 2 + rem(10))
  );

  padding-right: max(
          rem(10),
          calc((100vw - rem($container)) / 2 + rem(10))
  );

  &_container {
    padding-left: 0;
    padding-right: 0;
  }

  &__more {
    display: none;
  }

  &__dots {
    display: none;
  }

  @media (max-width: rem($desktop-x)) {
    &_grid {
      display: flex;
      flex-direction: column;
      gap: rem(16);
    }

    &_grid &__more {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: rem(48);
      border-radius: rem(6);
      background-color: $black;
      color: $white;

      @include font(12, $fw-extra-light);
    }
  }

  @media (max-width: rem($mobile)) {
    gap: rem(20);

    &__dots {
      display: flex;
      align-items: center;
      gap: rem(6);
    }

    &__dot {
      width: 100%;
      height: rem(2);
      background-color: $gray;
      cursor: pointer;

      &_active {
        background-color: $black;
      }
    }
  }
}