$container: 1360;

.slider {
  width: 100%;
  overflow: hidden;

  display: grid;
  grid-template-columns: rem(210) minmax(0, 1fr);
  gap: rem(20);

  padding-left: max(
          rem(10),
          calc((100vw - rem($container)) / 2 + rem(10))
  );

  &__list {
    min-width: 0;

    display: flex;
    gap: rem(20);

    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    scrollbar-width: none;

    padding-right: rem(40);

    &::-webkit-scrollbar {
      display: none;
    }
  }
}