.profile {
  display: grid;
  grid-template-columns: minmax(rem(0), rem(322)) 1fr;
  align-items: flex-start;

  gap: rem(140);

  &__column {
    display: flex;
    flex-direction: column;
    gap: rem(54);
    width: 100%;
  }


  @media (max-width: rem($tablet)) {
    grid-template-columns: minmax(rem(0), rem(250)) 1fr;
    gap: rem(80);
  }


  @media (max-width: rem($mobile)) {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }
}
