.category {
  display: flex;
  flex-direction: column;
  gap: rem(40);


  &__content {
    display: grid;
    grid-template-columns: minmax(0, rem(322)) 1fr;
    gap: rem(24);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(40);
  }

  @media (max-width: rem($mobile)) {
    &__content {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}