.promo {
  display: flex;
  flex-direction: column;
  gap: rem(18);

  padding-left: max(
          rem(10),
          calc((100vw - rem($desktop)) / 2 + rem(10))
  );

  padding-right: max(
          rem(10),
          calc((100vw - rem($desktop)) / 2 + rem(10))
  );

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(24);
  }

  @media (max-width: rem($mobile)) {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-inline: rem(20);

    &__list {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: rem(280);
      grid-template-columns: none;
      gap: rem(12);

      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none;
      }

      > * {
        scroll-snap-align: start;
      }
    }
  }

  @media (max-width: rem(420)) {
    padding-left: 0;
    padding-right: 0;

    &__list {
      grid-auto-columns: 100%;
      gap: rem(12);
    }
  }
}