.promo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: rem(24);

  &__item {
    aspect-ratio: 667 / 435;
    min-height: rem(150);
    max-height: rem(435);

    display: grid;
    grid-template-columns: 1fr max-content;
    background-color: $light-white;
    overflow: hidden;
    text-decoration: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: left center;
  }

  &__information {
    align-self: start;
    justify-self: start;

    margin: rem(96) rem(30) 0 0;
    transform: translateX(rem(-10));
    white-space: nowrap;
  }

  @media (max-width: rem($desktop-x)) {
    gap: rem(16);

    &__title {
      margin: rem(60) rem(20) 0 0;
      @include font(28, $fw-extra-light);
    }
  }

  @media (max-width: rem($tablet)) {
    &__title {
      margin: rem(40) rem(20) 0 0;
      @include font(24, $fw-extra-light);
    }

    &__information {
      margin: rem(60) rem(25) 0 0;

    }
  }

  @media (max-width: rem($mobile)) {
    grid-template-columns: 1fr;

    &__item {
      width: 100%;
      max-width: 100%;
      min-width: 0;

      aspect-ratio: 560 / 320;
      max-height: none;
    }

    &__image {
      width: 100%;
      height: 100%;
    }

    &__information {
      margin: clamp(rem(24), 8vw, rem(50)) clamp(rem(16), 5vw, rem(30)) 0 0;
      transform: none;
    }

    &__title {
      font-size: clamp(rem(18), 1vw, rem(24));
      font-weight: $fw-extra-light;
    }
  }
}