.promo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: rem(24);

  &__item {
    height: rem(440);
    display: grid;
    grid-template-columns: 62% 38%;
    align-items: stretch;
    background-color: $light-white;
    overflow: hidden;
    text-decoration: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    align-self: start;
    justify-self: end;
    margin: rem(96) rem(30) 0 rem(20);
    @include font(36, $fw-extra-light);
    color: $black;
    white-space: nowrap;
  }

  @media (max-width: rem($desktop-x)) {
    gap: rem(16);

    &__item {
      height: rem(320);
      grid-template-columns: 60% 40%;
    }

    &__title {
      margin: rem(60) rem(20) 0 0;
      @include font(24, $fw-extra-light);
    }
  }

  @media (max-width: rem($mobile)) {
    grid-template-columns: 1fr;
    gap: rem(8);

    &__item {
      height: rem(150);
      grid-template-columns: 58% 42%;
      align-items: center;
    }

    &__title {
      align-self: center;
      justify-self: end;
      margin: 0 rem(18) 0 0;
      @include font(18, $fw-extra-light);
      text-align: right;
    }
  }
}