.pagination {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: rem(16);

  &__description {
    @include font(14, $fw-extra-light);
    color: $black;
  }

  &__list {
    display: flex;
    gap: rem(4);
    align-items: center;
    justify-content: center;
  }

  &__item {
    padding: rem(8);
    @include font(14, $fw-light);
    color: $black;
    border-radius: rem(5);
    border: rem(1) solid rgba($black, 0.1);
    background-color: rgba($black, 0.04);
    width: rem(40);
    height: rem(40);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}