.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: rem(6);

  &__title {
    @include font(26, $fw-light);
  }

  @media (max-width: rem($mobile)) {
    &__title {
      @include font(24, $fw-light);
    }

    &__buttons {
      display: none;
    }
  }
}