.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(rem(6), 1vw, rem(18));
  flex: 1 1 auto;
  max-width: rem(845);
  min-width: 0;

  @media (max-width: rem($tablet)) {
    display: none;
  }
}
