.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(rem(6), 1vw, rem(18));
  flex: 1 1 auto;
  max-width: rem(845);
  min-width: 0;

  &__item {
    @include font(14, $fw-light);
    white-space: nowrap;

    &_sale {
      color: $red;
    }
  }

  @media (max-width: rem($desktop-x)) {
    &__item {
      @include font(12, $fw-light);
    }
  }

  @media (max-width: rem($tablet)) {
    display: none;
  }
}