.category {
  width: 100%;
  overflow: hidden;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(16);
  }
}

@media (max-width: rem($mobile)) {
  .category {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: rem(8);

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    &__list {
      justify-content: flex-start;
      width: max-content;
      min-width: 100%;
      gap: rem(10);
      padding: 0 rem(16);
    }
  }
}