.header {
  padding: rem(18) rem(40);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(5);
  }

  &__image {
    width: rem(22);
    height: rem(22);
  }

  &__action {
    display: flex;
    align-items: center;
    gap: rem(12);
  }

  @media (max-width: rem($tablet)) {
    padding: rem(12) rem(10);
  }
}