.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: rem(6);

  &__title {
    @include font(26, $fw-light);
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(12);
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(56);
    height: rem(56);
    flex-shrink: 0;
    border-radius: 50%;
    background-color: $white;

    &_image {
      width: rem(30);
      height: rem(13);
    }
  }

  &_mobile {
    @media (max-width: rem($mobile)) {
      .column__title {
        @include font(24, $fw-light);
      }

      .column__buttons {
        display: none;
      }
    }
  }

  &_desktop {
    @media (max-width: rem($desktop)) {
      .column__title {
        @include font(24, $fw-light);
      }

      .column__buttons {
        display: none;
      }
    }
  }
}
