.navigation {
  display: flex;
  flex-direction: column;
  gap: rem(42);

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: rem(8) rem(16);
    @include font(14, $fw-light);
    color: rgba($black, 0.6);

    &_active {
      color: $black;
    }

    &_sale {
      color: $red;
    }
  }
}