.list {
  min-width: 0;
  display: flex;
  gap: rem(20);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-right: rem(40);

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: rem($mobile)) {
    gap: rem(12);
  }
}
