.list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% - #{rem(24)} * 3) / 4);
  gap: rem(24);

  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    scroll-snap-align: start;
  }

  @media (max-width: rem($tablet)) {
    grid-auto-columns: calc((100% - #{rem(12)}) / 2.35);
    gap: rem(12);
  }

  @media (max-width: rem($mobile)) {
    grid-auto-columns: calc((100% - #{rem(8)}) / 2.05);
    gap: rem(8);
  }
}
